.wrapper {
    text-align: center;
}

.header {
    margin: 0px; 
}

#zfactor {
    width: 50px;
    margin: 5px;
}

#changeZoom {
    width: 50px;
    border: 0px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}